<div id="test">
@model IEnumerable<TaskManager.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
<table class="table">
    <tr>
        <th>
            <div class="form-sort">
                <label class="control-label">Sort by</label>
                    <select name="sortOption" id="sort_option" class="form-control">
                    <option value="0">Not selected</option>
                    <option value="1">Created</option>
                    <option value="2">Deadline</option>
                </select>
            </div>
        </th>
        <th>
            <div class="form-sort">
                <label class="control-label">Sort Order</label>
                    <select name="sortOrderOption" id="sort_order_option" class="form-control">
                    <option value="0">Ascending</option>
                    <option value="1">Descending</option>
                </select>
            </div>
        </th>
        <th>
            <br/>
            <div class="form-sort">
                    <input value="Sort" type="button" onclick="filterOnClick()" class="btn btn-primary" />
            </div>
        </th>
    </tr>
</table>
</form>
<table class="table" id="data_table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

<script>
    function filterOnClick() {
        var sortOptionvalue = document.getElementById("sort_option").value;
        var sortOrderOptionvalue = document.getElementById("sort_order_option").value;
        $.ajax(
            {
                url: '/Tasks',
                dataType: "json",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                async: false,
                data: JSON.stringify({
                    sortOption: sortOptionvalue,
                    sortOrderOption: sortOrderOptionvalue
                })
            }
        ).done(function (data) {
            document.getElementById("data_table").innerHTML = "";
            var resultHtml = "<thead><tr>";
            
            for (var prop in data[0]) {
                if (prop.toLowerCase().includes("id")) continue;
                resultHtml = resultHtml + ("<th>" + prop + "</th>");
            };
            resultHtml = resultHtml + "<th> </th>";

            resultHtml = resultHtml + "</tr></thead>";

            resultHtml = resultHtml + "<tbody>";
            for (var row in data) {
                resultHtml = resultHtml + "<tr>";

                resultHtml = resultHtml + ("<td>" + data[row]["Name"] + "</td>");
                if (data[row]["CompletionStatus"])
                    resultHtml = resultHtml + ("<td>" + '<input class="check-box" disabled type="checkbox" checked>' + "</td>");
                else
                    resultHtml = resultHtml + ("<td>" + '<input class="check-box" disabled type="checkbox">' + "</td>");
                resultHtml = resultHtml + ("<td>" + data[row]["Created"] + "</td>");
                resultHtml = resultHtml + ("<td>" + data[row]["Deadline"] + "</td>");
                resultHtml = resultHtml + ("<td>" + data[row]["Description"] + "</td>");
                resultHtml = resultHtml + ("<td>" + data[row]["Employee"]["Email"] + "</td>");

                resultHtml = resultHtml + '<td>' +
                    '<a href="/Tasks/Edit/' + data[row]["id"] + '">Edit</a> | ' +
                    '<a href="/Tasks/Delete/' + data[row]["id"] + '">Delete</a>' +
                    '</td>';

                resultHtml = resultHtml + "</tr>";
            }
            


            resultHtml = resultHtml + "</tbody>";
            
            document.getElementById("data_table").innerHTML = resultHtml;

        }).fail(function (err) {

            alert(err.responseText);
        });
    }
</script>
