@model IEnumerable<TaskManager.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
<table class="table">
    <tr>
        <th>
            <div class="form-sort">
                <label class="control-label">Sort by</label>
                    <select name="sortOption" class="form-control">
                    <option value="0">Not selected</option>
                    <option value="1">Created</option>
                    <option value="2">Deadline</option>
                </select>
            </div>
        </th>
        <th>
            <div class="form-sort">
                <label class="control-label">Sort Order</label>
                    <select name="sortOrderOption" class="form-control">
                    <option value="0">Ascending</option>
                    <option value="1">Descending</option>
                </select>
            </div>
        </th>
        <th>
            <br/>
            <div class="form-sort">
                <input type="submit" value="Sort" class="btn btn-primary" />
            </div>
        </th>
    </tr>
</table>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
